<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>功能区域</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<!--
			<key>cellClass</key>
			<string>KBSwitchCell</string>-->
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.nactro.kbdocksettings</string>
			<key>key</key>
			<string>enabledGlobalSwitch</string>
			<key>label</key>
			<string>全局开关</string>
			<key>PostNotification</key>
			<string>com.nactro.kbdocksettings/changed</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>个性化设置</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>AppList</string>
			<key>ALNavigationTitle</key>
			<string>自定义底部 Dock 应用</string>
			<key>enabled</key>
			<true/>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>自定义底部 Dock 应用</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.nactro.kbdocksettings.list.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
			<key>ALSettingsKeyPrefix</key>
			<string></string>
			<key>ALAllowsSelection</key>
			<false/>
		</dict>

		<dict>
		<key>cell</key>
		<string>PSGroupCell</string>
		<key>label</key>
		<string>激活状态</string>
		<key>footerText</key>
		<string>如需要激活插件，请打开「插件助手」App，进行购买激活 / 试用</string>
		</dict>
		<dict>
			<key>activateStatus</key>
			<string>已激活</string>
			<key>cellClass</key>
			<string>NactroActivateStatusCell</string>
		</dict>
		<dict>
		<key>action</key>
		<string>goAchelper</string>
		<key>label</key>
		<string>打开插件激活助手</string>
		<key>cell</key>
		<string>PSButtonCell</string>
		<key>cellClass</key>
		<string>KBButtonCell</string>
		</dict>

		<dict>
		<key>cell</key>
		<string>PSGroupCell</string>
		<key>label</key>
		<string>功能开关</string>
		<key>footerText</key>
		<string>「修复底部应用」功能用于，键盘底部 Dock 应用不能在第三方 APP 内显示的问题。如能显示，请勿使用！！	</string>
		</dict>
		<dict>
		<key>action</key>
		<string>killSpringBoard</string>
		<key>label</key>
		<string>注销</string>
		<key>cell</key>
		<string>PSButtonCell</string>
		<key>cellClass</key>
		<string>KBButtonCell</string>
		</dict>
		<!-- <dict>
		<key>action</key>
		<string>fixSignature</string>
		<key>label</key>
		<string>修复底部应用显示</string>
		<key>cell</key>
		<string>PSButtonCell</string>
		<key>cellClass</key>
		<string>KBButtonCell</string>
		</dict> -->


		<dict>
		<key>cell</key>
		<string>PSGroupCell</string>
		<key>label</key>
		<string>反馈功能区</string>
		<key>footerText</key>
		<string>如遇到相关问题 / Bug ，请直接点击上方反馈按钮，发送邮件联系。</string>
		</dict>
		<dict>
		<key>action</key>
		<string>goFeedback</string>
		<key>label</key>
		<string>反馈问题</string>
		<key>cell</key>
		<string>PSButtonCell</string>
		<key>cellClass</key>
		<string>KBButtonCell</string>
		</dict>

		<dict>
		<key>cell</key>
		<string>PSGroupCell</string>
		<key>label</key>
		<string>支持</string>
		<key>footerText</key>
		<string>你的赞助或关注我们微博是对我们最大的支持。</string>
		</dict>
		<dict>
		<key>action</key>
		<string>openDonate</string>
		<key>label</key>
		<string>赞助我们团队</string>
		<key>cell</key>
		<string>PSButtonCell</string>
		<key>cellClass</key>
		<string>KBButtonCell</string>
		</dict>
		<dict>
		<key>action</key>
		<string>followWeibo</string>
		<key>label</key>
		<string>关注我们的微博</string>
		<key>cell</key>
		<string>PSButtonCell</string>
		<key>cellClass</key>
		<string>KBButtonCell</string>
		</dict>

		<dict>
		<key>label</key>
		<string>Credits</string>
		<key>footerText</key>
		<string>© Nectra Development 2019</string>
		<key>cell</key>
		<string>PSGroupCell</string>
		</dict>

		<dict>
		<key>creditOptions</key>
		<array>
			<dict>
				<key>service</key>
				<string>website</string>
				<key>username</key>
				<string>https:/apt.nactro.com</string>
			</dict>
			<dict>
				<key>service</key>
				<string>weibo</string>
				<key>username</key>
				<string>5788815698</string>
			</dict>
			<dict>
				<key>service</key>
				<string>email</string>
				<key>username</key>
				<string>NactroDev@Gmail.com</string>
			</dict>
			<dict>
				<key>service</key>
				<string>github</string>
				<key>username</key>
				<string>nactro</string>
			</dict>
		</array>
		<key>avatarImage</key>
		<string>nactro</string>
		<key>creditPosition</key>
		<string>Development Group</string>
		<key>creditName</key>
		<string>Nactro.</string>
		<key>height</key>
		<integer>84</integer>
		<key>cellClass</key>
		<string>NactroCreditCell</string>
		</dict>

	</array>
	<key>title</key>
	<string>快捷键盘DOCK</string>
</dict>
</plist>
