<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>功能区域</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.nactro.kbdocksettings</string>
			<key>key</key>
			<string>globalSwitch</string>
			<key>label</key>
			<string>全剧开关</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>个性化设置</string>
		</dict>
		<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>label</key>
		<string>选择底部 Dock 启用的应用</string>
		<key>key</key>
		<string>AppList</string>
		<key>detail</key>
		<string>AppList</string>
		<key>default</key>
		<string>default</string>
		<key>PostNotification</key>
		<string>com.nactro.kbdocksettings</string>
		</dict>

	</array>
	<key>title</key>
	<string>KBDock</string>
</dict>
</plist>
